<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PharmacyStoreProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User1</display-name>
    <servlet-name>User1</servlet-name>
    <servlet-class>com.virtusa.servlet.User1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User1</servlet-name>
    <url-pattern>/user1.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User2</display-name>
    <servlet-name>User2</servlet-name>
    <servlet-class>com.virtusa.servlet.User2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User2</servlet-name>
    <url-pattern>/user2.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User3</display-name>
    <servlet-name>User3</servlet-name>
    <servlet-class>com.virtusa.servlet.User3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User3</servlet-name>
    <url-pattern>/user3.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User4</display-name>
    <servlet-name>User4</servlet-name>
    <servlet-class>com.virtusa.servlet.User4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User4</servlet-name>
    <url-pattern>/user4.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin1</display-name>
    <servlet-name>Admin1</servlet-name>
    <servlet-class>com.virtusa.servlet.Admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin1</servlet-name>
    <url-pattern>/admin1.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin2</display-name>
    <servlet-name>Admin2</servlet-name>
    <servlet-class>com.virtusa.servlet.Admin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin2</servlet-name>
    <url-pattern>/admin2.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelete</display-name>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>com.virtusa.servlet.AdminDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/admindelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseServlet</display-name>
    <servlet-name>BrowseServlet</servlet-name>
    <servlet-class>com.virtusa.servlet.BrowseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseServlet</servlet-name>
    <url-pattern>/browse.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherServlet</display-name>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>com.virtusa.servlet.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/otherservlet.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicCost</display-name>
    <servlet-name>DynamicCost</servlet-name>
    <servlet-class>com.virtusa.servlet.DynamicCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicCost</servlet-name>
    <url-pattern>/cost.do</url-pattern>
  </servlet-mapping>
</web-app>